# ==============================================================================
# CONFIGURAÇÕES DE REPRODUTIBILIDADE
# Instruções: Copie este arquivo, renomeie para '.env' e preencha com seus dados.
# ==============================================================================

# Integração Nativa com o Servidor do MLflow
MLFLOW_TRACKING_URI=https://dagshub.com/9MLET-GP16-Team/mlp-market-recommender-system.mlflow
MLFLOW_TRACKING_USERNAME=seu_usuario_dagshub
MLFLOW_TRACKING_PASSWORD=seu_token_aqui